################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ZeroMQStudy/.vs/ZeroMQStudy
/ZeroMQStudy/vcpkg_test/vcpkg_installed/x64-windows
/ZeroMQStudy/vcpkg_test/x64/Debug
/ZeroMQStudy/x64/Debug
/ZeroMQStudy/request_reply_pattern/reply/x64/Debug
/ZeroMQStudy/request_reply_pattern/request/x64/Debug
/ZeroMQStudy/vcpkg_installed
/.vs
/ZeroMQStudy/publish/x64/Debug
/ZeroMQStudy/reply/x64/Debug
/ZeroMQStudy/request/x64/Debug
/ZeroMQStudy/subscribe/x64/Debug
/ZeroMQStudy/sink/x64/Debug
/ZeroMQStudy/task/x64/Debug
/ZeroMQStudy/vantilator/x64/Debug
/ZeroMQStudy/proxy_pub_sub/x64/Debug
/ZeroMQStudy/xpublish/x64/Debug
/ZeroMQStudy/xsubscribe/x64/Debug
/ZeroMQStudy/proxy_reply_request/x64/Debug
/ZeroMQStudy/xreply1/x64/Debug
/ZeroMQStudy/xreply2/x64/Debug
/ZeroMQStudy/xrequest/x64/Debug
