################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ZeroMQStudy/.vs/ZeroMQStudy
/ZeroMQStudy/vcpkg_test/vcpkg_installed/x64-windows
/ZeroMQStudy/vcpkg_test/x64/Debug
/ZeroMQStudy/x64/Debug
